{% extends "model.html" %}

{% import 'macros/_forms.html' as _forms with context %}

{% block content %}

<ul class="nav nav-tabs" role="tablist">
  <li><a href="{{ url_for('setup.units') }}">{{ _('List') }}</a></li>
  <li class="active"><a href="#">{{ _('Edit') }}</a></li>
</ul>

    {% call _forms.form_tag(form=unitform) %}
        <div class="row">
            <div class="col-xs-6 col-sm-3">{{ _forms.render_field(unitform.unit_name) }}</div>
        </div>

        <div class="row">
            <div class="col-xs-6 col-sm-3">{{ _forms.render_field(unitform.must_be_whole_number) }}</div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-10">{{ _forms.render_form_buttons(return_url) }}</div>
        </div>
    {% endcall %}

{% endblock %}
